/* You can add global styles to this file, and also import other style files */
.toast-success {
    background-color: #4CAF50 !important; /* Green for success */
    color: white !important;
    padding: 10px;
  }
  
  .toast-error {
    background-color: #F44336 !important; 
    color: white !important;
    padding: 10px;
  }
  
  .toast-info {
    background-color: #2196F3 !important; 
    color: white !important;
    padding: 10px;
  }
  
  .toast-warning {
    background-color: #FFC107 !important;
    color: black !important;
    padding: 10px;
  }
  
  .toast-top-right {
    top: 12px;
    right: 12px;
  }
  