<div class="outer-div">
<div class="login-container">
    <div class="login-image">
    </div>
    <div class="login-form">
      <h2 class="text-center">Welcome Back</h2>
      <p class="text-center">Log in to explore the latest movies and trailers</p>
      <form [formGroup]="LoginForm">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" formControlName="Email" class="form-control" id="email" placeholder="Enter your email" required>
          <span class="text-small text-danger" *ngIf="LoginForm.get('Email')?.invalid && LoginForm.get('Email')?.touched">
            Enter Valid Email Address
          </span>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" formControlName="Password" class="form-control" id="password" placeholder="Enter your password" required>
          <span class="text-small text-danger" *ngIf="LoginForm.get('Password')?.invalid && LoginForm.get('Password')?.touched">
            Enter Valid Email Address
          </span>
        </div>
        <button type="submit" class="btn btn-primary w-100" (click)="Login()">Log In</button>
        <div class="mt-3 text-center">
          <span>Don't have an account? <a [routerLink]="['/register']" class="register-link">Register here</a></span>
        </div>
      </form>
    </div>
  </div>
</div>